@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	list-style:none;
	
	}
	body {
		background-image:url(../img/B86.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: auto;
		
		}

header {
	 position:relative;
	   width:1000px;
	   height: 120px;
	   background-color:#444;
	   margin:20px auto;

	   
	   
	}
	
#logo {
		   position:absolute;
		   top:30px;
		   left:30px;
		   width:200px;
		   height:60px;
		   background:#ccc;
		
		}
	.busca {
		  margin-left: 239px;
		  padding-top: 80px;
		}
		
	.redes {
		   position:absolute;
		   width:42px;
		   height:42px;
		   background:#ccc;
		   border-radius:100%;
		
		}
		
	#Icono1 {
		    
		   top:42px;
		   right:120px;
		}
	#Icono2 {
		    
		   top:42px;
		   right:71px;
		}
	#Icono3 {
		    
		   top:42px;
		   right:19px;
		}
	
#menuIndex ul {
	list-style-type: none;
    margin:auto;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    width: 1000px;

	
}
#menuIndex ul li{ float: left;
  width: 200px;
 }
#menuIndex a {
     display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
     
}
#menuIndex a:hover:not(.active) {
     background-color: #111;
}
#menuIndex a:visited(.active) {
	background-color: #ccc;
}
.active {
    background-color: #ccc;
}

#top {
	   position:relative;
	   width:1000px;
	   height: 192px;
	   margin: 20px auto;
	
	}
	
	#top ul {
		   width:1010px;
		   height:192px;
		  
		}
	
#top ul li {
	float:left;
	width:326px;
	height:192px;
	margin-right:10px;
	
	}
#slider {
	position:absolute;
	width:1304px;
	height:192;
	left:0px;
	animation-delay:2s;/*para que la primera imagen se pare unos segunditos*/
	animation-name:slider;/*Aqui le doy el nombre de la animacion en el caso que tenga muchas animaciones*/
	animation-duration:20s;/* Aqui le damos el periodo de tiempo que tiene que durar la animacion*/
	animation-timing-function:linear;/*Para que vaya a una velocidad linea*/
	animation-iteration-count:infinite; 
	-webkit-animation-name:slider;
	-webkit-animation-timing-function:linear;
	-webkit-animation-duration:20s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-timing-function:linear;
	-moz-animation-duration:20s;
	-moz-animation-iteration-count:infinite;

	
	}


#slider img{
	float:left;
	display:block;}

	
@keyframes slider{
	0% {left:0px;} /*la primera imagen empieza dsde 0 hasta 10 y tiene la posicion izquierda*/
	
	15% {left:-326px;} /*Entre 10 y 25 se queda quieto la primera imagén*/
	
	30% {left:-326px;}
	45% {left:-652px;}
	55% {left:-652px;}
	75% {left:-978px;}
	
	100% {left:-978px;}
	} /*Nos sirve para que haya una transition dse sepa cuanto tiempo nos va a durar cada transition*/
	
#visor {
	border:solid 1px #000000;
	width:326 px;
	height:192px;
	overflow:hidden;/* Para que no se vea las imagenes restantes del visor*/
	position:relative; /*Le doy un punto de referencia para que empiece desde ese punto que llamamos left*/
	margin:auto;
	
	}

section {
	   position:relative;
	   width:1000px;
	   height: 453px;
	   background-color:#333;
	   margin: 20px auto;
	
	}
aside#izq {
		  position:absolute;
		  left:0;
		  top:0;
		  width:200px;
		  height:453px;
		  background:#ccc;
		}
		
article {
	     position:absolute;
		  left:200px;
		  top:0;
		  width:600px;
		  height:453px;
		  background:white;
		}
		
aside#derrecha {
		  position:absolute;
		  right:0;
		  top:0;
		  width:200px;
		  height:453px;
		  background:#ccc;
		}
	
	
footer {
	   position:relative;
	   width:1000px;
	   height: 70px;
	   background-color:#444;
	   margin: 20px auto;
	   text-align:center;
	   padding-top:15px;
	}

